:root {
  --lightbg: #fff;
  --darkbg: #000;
  --lightco: #222b;
  --darkco: #dddb;
  --lighthe: #000;
  --darkhe: #fff;
  --bg: var(--lightbg);
  --co: var(--lightco);
  --he: var(--lighthe);
  --sgray: #75757545;
  --mgray: #75757575;
  --hgray: #757575;
  --pco: #5683de;
  --sco: #61aabb;
  --stbr: 1px solid var(--sgray);
  --invbr: 2px solid var(--bg);
  --wtbr: 1px solid #fff;
  --wbr: 2px solid #fff;
  color-scheme: light;
}

body {
  color: var(--co);
  background: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--he);
}

button,
input {
  font: inherit;
  color: inherit;
  border: 0;
}

i.sm {
  font-size: 18px;
}

i.re {
  font-size: 24px;
}

i.md {
  font-size: 32px;
}

i.lg {
  font-size: 42px;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: var(--bg);
  border-top: var(--stbr);
  text-transform: uppercase;
}

.navbar .navbar-link {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .navbar-link i {
  margin-bottom: 5px;
}

.navbar .navbar-link * {
  color: var(--co);
}

.navbar .navbar-link.on i {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 40;
}

.navbar .navbar-link.on * {
  color: var(--he);
}

.sign {
  padding: 18px 22px;
  max-width: 678px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign .con-upOrIn {
  position: relative;
  margin: 18px auto;
  background: var(--sgray);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px;
  border-radius: 8px;
}

.sign .con-upOrIn input {
  display: none;
}

.sign .con-upOrIn span {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.sign .con-upOrIn .bgon {
  position: absolute;
  top: 50%;
  left: 6px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: var(--pco);
  width: calc(50% - 6px);
  height: calc(100% - 12px);
  border-radius: 6px;
  z-index: -1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.sign .con-upOrIn input:checked ~ span {
  color: var(--he);
}

.sign .con-upOrIn label {
  display: inline-block;
  padding: 8px 18px;
}

.sign form {
  width: calc(100% - 10px + 2vw);
}

.sign .form-input {
  width: 100%;
  text-align: left;
}

.sign .form-input .second {
  display: none;
}

.sign .form-input input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 8px;
  background: var(--sgray);
  color: var(--he);
  border: 1.5px solid var(--sgray);
  border-radius: 8px;
  outline: #0000 solid 2px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.sign .form-input input:focus {
  outline: var(--pco) solid 2px;
}

.sign .form-input label {
  display: inline-block;
  margin-left: 8px;
  margin-top: 22px;
  margin-bottom: 3px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.sign .form-input button,
.sign .form-input .next {
  display: inline-block;
  padding: 12px 32px;
  margin-top: 22px;
  background: var(--pco);
  color: var(--he);
  border-radius: 12px;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

.sign .form-input button:disabled,
.sign .form-input .next:disabled {
  background: var(--sgray);
  color: var(--co);
  cursor: default;
}

.sign .form-input .next[disabled] {
  background: var(--sgray);
  color: var(--co);
  cursor: default;
}

.sign .form-input input[contenttype="password"] {
  width: calc(100% - 41px);
}

.sign .form-input .viewPass {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 34px;
  margin: 0 0 0 4px;
  -webkit-transform: translate(0, 2px);
          transform: translate(0, 2px);
  padding: 0;
  height: 34px;
  border: 1.5px solid var(--sgray);
  border-radius: 8px;
  color: var(--co);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--sgray);
  cursor: pointer;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.sign .form-input .viewPass.on {
  background: var(--pco);
  color: var(--he);
}

.sign .form-input .undo {
  display: inline-block;
  padding: 12px 32px;
  margin-top: 22px;
  background: #0000;
  cursor: pointer;
  color: var(--co);
}

#myCanvas {
  background: var(--sgray);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg: var(--darkbg);
    --co: var(--darkco);
    --he: var(--darkhe);
    color-scheme: dark;
  }
}
/*# sourceMappingURL=App.css.map */